# Node modules
node_modules

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile*
docker-compose*

# Output
dist

# Logs
bot.log

# Configuration
config
files
sessions

# Environment
.env*

# GitHub
.github
*.md
LICENSE
