# Node modules
node_modules

# Git
.git
.gitignore
.gitattributes

# Docker
.dockerignore
Dockerfile*
docker-compose*

# Output
dist

# Logs
bot.log

# Configuration
config
files
sessions

# Environment
.env*

# GitHub
.github
*.md
LICENSE
README.md

# Dev container
.devcontainer

# ESLint
.eslintcache
.eslintrc*

# Database
db

# pgAdmin
pgadmin

# SonarCloud
sonar-project.properties

# Husky
.husky

# VS Code
.vscode

# EditorConfig
.editorconfig

# Nodemon
nodemon.json

# Scripts
restart.sh
restart.bat
