# Node modules
node_modules

# Git
.git
.gitignore
.gitattributes

# Docker
.dockerignore
Dockerfile*
docker-compose*

# Output
dist

# Logs
bot.log

# Configuration
config
files
sessions

# Environment
.env*

# GitHub
.github
*.md
LICENSE

# Dev container
.devcontainer

# ESLint
.eslintcache
.eslintrc*

# Database
db

# pgAdmin
pgadmin

# SonarCloud
sonar-project.properties
